<span class="text-small text-muted">Share:</span>
<div class="d-flex ml-1">
    <a href="#" class="mx-1 btn btn-sm btn-round btn-primary">
        <img class="icon" src="/assets/img/icons/social/twitter.svg" alt="twitter social icon" data-inject-svg />
    </a>
    <a href="#" class="mx-1 btn btn-sm btn-round btn-primary">
        <img class="icon" src="/assets/img/icons/social/linkedin.svg" alt="linkedin social icon" data-inject-svg />
    </a>
    <a href="#" class="mx-1 btn btn-sm btn-round btn-primary">
        <img class="icon" src="/assets/img/icons/social/facebook.svg" alt="facebook social icon" data-inject-svg />
    </a>
</div>
