<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Leap Bootstrap Theme and HTML Template</title>
	{% include includes_head.html %}

<body>
<div class="loader">
	<div class="loading-animation"></div>
</div>

<div class="navbar-container ">
	<nav class="navbar navbar-expand-lg navbar-dark" data-overlay data-sticky="top">

		{% include nav_bar.html %}

	</nav>
</div>

{% assign category_nm = page.category %}

<section class="has-divider text-light jarallax bg-dark" data-jarallax data-speed="0.5" data-overlay>
	<img src="{% if page.image %} {{page.image}} {% else %} /assets/img/cowork-3.jpg {% endif %}" alt="" class="jarallax-img opacity-50">
	<div class="container">
		<div class="row">
			<div class="col-xl-5 col-lg-6 col-md-8">
				<h1 class="display-4">
					{{ page.category | upcase }}</h1>
				{% unless page.content == '' %}
				<p class="lead mb-0">{{ page.content }}</p>
				{% endunless %}
			</div>
		</div>
	</div>
	<div class="divider">
		<img src="/assets/img/dividers/divider-2.svg" alt="graphical divider" data-inject-svg />
	</div>
</section>

{% assign posts = site.categories[page.category] %}

{% assign posts_size = posts|size %}

{% if  page.disable or posts_size < 1 %}

{% include comming-soon.html %}

{% else %}


<section>

	<div class="container">
		<div class="row mb-4">
			{% for post in site.categories[page.category] limit:pagesize %}

			{% include post_card.html %}

			{% endfor %}

		</div>
	</div>
</section>





{% if paginator.total_pages > 1 %}
<div class="pagination">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
	{% else %}
	<span>&laquo; Prev</span>
	{% endif %}

	{% for page in (1..paginator.total_pages) %}
	{% if page == paginator.page %}
	<em>{{ page }}</em>

	{% elsif page == 1 %}
	<a href="{{ '/Penguin/index.html' | prepend: site.baseurl }}">{{ page }}</a>
	{% else %}
	<a href="{{ site.paginate_path | prepend: '/Penguin/' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
	<!-- 페이지 번호를 나타내기 위한 코드. -->
	{% endif %}
	{% endfor %}

	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
	{% else %}
	<span>Next &raquo;</span>
	{% endif %}
</div>
{% endif %}



{% endif %}




---
title: Penguins
layout: blog
pagination:
enabled: true
category: Penguin
per_page: 2
---

{% for post in paginator.posts %}
<div class="post-list">
	<h2><a href="{{ post.url }}" class="link-post_list">{{ post.title }}</a></h2>
	<p class="post-meta">{{ post.date | date: "%b %d, %Y" }} by {{ post.author }}</p>
	<div class="post-list-content">
		{{ post.excerpt | truncatewords: 45, '...' }}
		<p class="text-right"><a href="{{ post.url }}">read more...</a></p>
	</div>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
	{% else %}
	<span>&laquo; Prev</span>
	{% endif %}

	{% for page in (1..paginator.total_pages) %}
	{% if page == paginator.page %}
	<em>{{ page }}</em>

	{% elsif page == 1 %}
	<a href="{{ '/Penguin/index.html' | prepend: site.baseurl }}">{{ page }}</a>
	{% else %}
	<a href="{{ site.paginate_path | prepend: '/Penguin/' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
	<!-- 페이지 번호를 나타내기 위한 코드. -->
	{% endif %}
	{% endfor %}

	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
	{% else %}
	<span>Next &raquo;</span>
	{% endif %}
</div>
{% endif %}



{% include footer.html %}
{% include includes_js.html %}
</body>

</html>
